---

type Props = {
  images: string[];
};

const { images } = Astro.props;
---

<section class="slideshow">
  <img src={"/assets/products/" + images.at(0)} alt="Product image" />
  <img src={"/assets/products/" + images.at(1)} alt="Product image" />
</section>

<style>
  img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto 20px;
  }
</style>