---
import { Icon } from 'astro-icon/components';

const { isLoggedIn, isAdmin } = Astro.locals;
---

<nav class="flex justify-between px-20 py-10 items-center bg-slate-100">
  <h1 class="text-xl text-gray-800 font-bold">Astro Shop</h1>
  <div class="flex items-center">
    <div class="flex items-center">
      <Icon name="magnify" class="text-black text-xl" />
      <input class="ml-2 outline-none bg-transparent font-" type="text" name="search" id="search" placeholder="Search..." />
    </div>

    <ul class="flex items-center space-x-6">
      <!-- HOME -->
      <li id="home" class="font-semibold text-gray-700">
        <a href="/" class="flex items-center gap-2">
          <Icon name="home" class="text-xl" />
          <span>Home</span>
        </a>
      </li>

      {isAdmin && (
        <li id="dashboard" class="font-semibold text-gray-700">
          <a href="/dashboard" class="flex items-center gap-2">
            <Icon name="protected-page" class="text-xl" />
            <span>Admin</span>
          </a>
        </li>
      )}

      {isLoggedIn ? (
        <li class="font-semibold text-gray-700">
          <button id="logout" type="button" class="flex items-center gap-2">
            <span>Logout</span>
            <Icon name="logout" class="text-xl" />
          </button>
        </li>
      ) : (
        <li id="login" class="font-semibold text-gray-700">
          <a href="/login" class="flex items-center gap-2">
            <Icon name="login" class="text-xl" />
            <span>Login</span>
          </a>
        </li>
      )}
    </ul>
  </div>
</nav>

<script>
import { signOut } from "auth-astro/client";

const logoutBNT = document.getElementById("logout") as HTMLButtonElement | null;

if (logoutBNT) {
  logoutBNT.addEventListener("click", async () => {
    await signOut();
    window.location.replace("/login");
  });
}
</script>