---
import { actions } from "astro:actions";
import MainLayout from "@/layouts/MainLayout.astro";

const cartCookie = Astro.cookies.has("cart") ? Astro.cookies.get("cart")!.value : '[]';
const { data, error } = await actions.loadProductsFromCart(cartCookie);

if (error) {
  return Astro.redirect("/404");
}
---

<MainLayout
  title="Cart - Astro Shop"
  description="Astro Shop cart page"
  robots="noindex, nofollow"
>
  <div class="content">
    <h1>Cart</h1>

<pre>
<code>
{JSON.stringify(data, null, 2)}
</code>
</pre>
  </div>
</MainLayout>