---
import MainLayout from '@/layouts/MainLayout.astro';
// import { getSession } from 'auth-astro/server';
// const session = await getSession(Astro.request);
// const { user } = session ?? {};
---

<MainLayout
  title="Dashboard - Astro Shop"
  description="Dashboard page for Astro Shop"
  robots="noindex, nofollow"
>
  <div class="container mx-auto px-5">
    <h1 class="text-3xl text-purple-400">Dashboard Page</h1>

    <p class="text-slate-500">Content goes here ...</p>
  </div>
</MainLayout>
