---
import { ProductList } from '@/components/products';
import MainLayout from '@/layouts/MainLayout.astro';
// import { getSession } from 'auth-astro/server';
import { actions } from 'astro:actions';

// const session = await getSession(Astro.request);

// const { user } = session ?? {};

const { data, error } = await actions.getProductsByPage({});

if (error) {
  console.error(error);
}

---

<MainLayout
  title="Home Page - Astro Shop"
  description="Welcome to the home page"
  robots="index, follow"
>
  <div class="container mx-auto px-5">
    <h1 class="text-5xl text-purple-400 mb-5">Product List</h1>

    <ProductList products={data?.products ?? []} />
</div>
</MainLayout>
