---
import { ProductList } from '@/components/products';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
// import { getSession } from 'auth-astro/server';
import { actions } from 'astro:actions';

// const session = await getSession(Astro.request);

// const { user } = session ?? {};

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage({
  page: pageParam,
  limit: 16,
});

if (error) {
  console.error(error);
}

---

<MainLayout
  title="Home Page - Astro Shop"
  description="Welcome to the home page"
  robots="index, follow"
>
  <div class="container mx-auto px-5 mt-[150px]">
    <h1 class="text-5xl text-slate-100 mb-10">All Products</h1>
    <ProductList products={data?.products ?? []} client:idle />
    <Pagination totalPages={data?.totalPages ?? 0} />
  </div>
</MainLayout>
