---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
  title="Home Page - Astro Shop"
  description="Welcome to the home page"
  robots="index, follow"
>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
